.footer {
  min-height: 70px;
  background-color: #000000;

  @media (min-width: $desktop-width) {
    min-height: 30px;
  }
}

.footer__container {
  width: $panel-width;
  padding: 5px 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__copyright,
.footer__creator,
.footer__link {
  font-size: 11px;
  color: $light-color;

  @media (min-width: $desktop-width) {
    font-size: 14px;
    margin-right: 20px;
  }
}

.footer__copyright {
  margin: 2px 0 6px;;

  @media (min-width: $desktop-width) {
    margin-right: auto;
  }
}

.footer__link {
  text-decoration: underline;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
