.form {
  display: flex;
  flex-direction: column;
  width: 290px;
  margin-bottom: 38px;

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
    width: 555px;
    padding: 39px 15px 0;
  }
}

.form__input {
  height: 43px;
  padding-left: 15px;
  margin-bottom: 7px;
  color: $light-color;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid $light-color;
  font-size: 12px;
  outline: none;

  &--phone {
    width: 175px;

    @media (min-width: $desktop-width) {
      width: 263px;
    }
  }

  &:focus {
    font-size: 14px;
    font-weight: 300;

    @media (min-width: $desktop-width) {
      font-size: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    height: 53px;
    padding-left: 20px;
    font-size: 18px;
  }
}

.form__label {
  padding-left: 15px;
  color: transparent;
  font-size: 12px;

  @media (min-width: $desktop-width) {
    font-size: 14px;
    padding-left: 20px;
  }
}

.form__input:focus +  .form__label {
  color: $light-color;
}

.form__textarea {
  margin-top: 20px;
  padding-left: 15px;
  margin-bottom: 7px;
  color: $light-color;
  background-color: #101010;
  border: 1px solid transparent;
  border-bottom: 1px solid $light-color;
  font-size: 12px;
  line-height: 18px;
  outline: none;

  &:focus {
    font-size: 14px;
    font-weight: 300;

    @media (min-width: $desktop-width) {
      font-size: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 22px;
  }
}

.form__textarea +  .form__label {
  margin-bottom: 20px;
}

.form__textarea:focus +  .form__label {
  color: $light-color;
}

.form__btn {
  align-self: center;
  margin-top: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  width: 177px;
  min-height: 40px;
  font-size: 16px;
  color: $light-color;
  font-weight: 400;
  letter-spacing: 0.3px;
  border: 2px solid $light-color;
  background-color: transparent;

  &:hover {
    color: $darktext-color;
    background-color: $light-color;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-start;
    width: 265px;
    min-height: 70px;
    font-size: 24px;
    color: $light-color;
    font-weight: 700;
    letter-spacing: 0.6px;
  }
}
