.header {
  padding-top: 12px;
  width: 100%;
  min-height: 280px;
  background-image: url('../images/bg_header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;

  @media (min-width: $desktop-width) {
    min-height: 800px;
  }
}

.header__top {
  margin: 0 auto;
  width: $panel-width;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.header__panel {
  width: $panel-width;
  height: 30px;
  display: flex;
  justify-content: space-between;

  .header__toggle {
    width: 25px;
    height: 25px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    height: 60px;
    align-items: flex-end;

    .header__toggle {
      display: none;
    }
  }
}

.header__logo {
  width: 145px;
  height: 30px;
  border: 3px solid $light-color;

  @media (min-width: $desktop-width) {
    width: 263px;
    height: 58px;
  }
}

.header__menu {
  @media (min-width: $desktop-width) {
    margin-left: auto;
    align-self: flex-end;
  }
}

.header__title {
  margin-top: 28px;
  margin-bottom: 0;
  font-family: $title-font;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: $light-color;
  text-align: center;

  &--hidden {
    display: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: 78px;
    margin-bottom: auto;
    font-size: 72px;
    line-height: 55px;
  }
}

.header__intro {
  margin: 0 auto;
  width: $panel-width;
  padding-left: 20px;
  padding-right: 20px;
  color: $light-color;
  font-family: $default-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;

  &--hidden {
    display: none;
  }

  @media (min-width: $desktop-width) {
    width: 920px;
    min-height: 202px;
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
  }
}
