.ideas {
  width: 100%;
  margin-top: -35px;
  background-image: url('../images/bg_content2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

.ideas__container {
  width: $panel-width;
  height: 495px;
  margin: 0 auto;
  padding: 120px 15px 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    height: 1120px;
    padding-top: 222px;
  }
}

.ideas__title {
  margin: 0 auto;
  font-family: $title-font;
  font-size: 24px;
  line-height: 50px;
  text-transform: uppercase;
  color: $light-color;
  text-align: center;

  @media (min-width: $desktop-width) {
    font-size: 48px;
    line-height: 60px;
    margin-right: 65px;
    margin-left: auto;
  }
}

.scroll-pane {
  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 25px;
    width: 685px;
    height: 700px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: transparent;
    color: $light-color;
    overflow-y: scroll;
  }
}

.jspContainer {
  height: 700px;
}

.ideas__author {
  margin: 0 20px 0;
  font-size: 12px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.6px;

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 60px;
  }
}

.ideas__text {
  margin: 0 20px 20px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.ideas__slide {
  display: none;
  height: 230px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: $light-color;

  &--active {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    &--desktop {
      display: flex;
    }
  }
}

.ideas__btn {
  display: block;
  position: absolute;
  top: 250px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 20px;
  height: 35px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--hidden {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.ideas__btn--prev {
  left: 0;
  background-image: url('../images/left-arrow-red.svg');
}

.ideas__btn--next {
  right: 0;
  background-image: url('../images/right-arrow-red.svg');
}

.ideas__link {
  display: block;
  margin-top: auto;
  padding-top: 12px;
  text-align: center;
  width: 212px;
  min-height: 50px;
  font-size: 18px;
  color: $light-color;
  font-weight: 700;
  letter-spacing: 0.6px;
  border: 2px solid $light-color;
  background-color: transparent;

  &:hover {
    color: $darktext-color;
    background-color: $light-color;
  }

  &:active {
    opacity: 0.6;
  }
}
