body {
  min-width: $panel-width;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $default-font;
  font-weight: 400;
  font-size: 16px;
  color: $darktext-color;
  line-height: 1.25;
  background-color: #ffffff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: all 0.125s ease-in-out 0s;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-width: $panel-width;

  &__title {
    margin: 0 auto;
    font-family: $title-font;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: $darktext-color;
    text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 34px;
      line-height: 42px;
    }

    @media (min-width: $desktop-width) {
      font-size: 42px;
      line-height: 48px;
    }
  }
}

.scroll__arrow-up {
  width: 70px;
  height: 70px;
  background-color: transparent;
  border: 5px solid red;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  outline: none;
  z-index: 100;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    display: block;
    position: fixed;
    bottom: 48px;
    right: 52px;
    width: 20px;
    height: 20px;
    border-top: 5px solid red;
    border-left: 5px solid red;
    border-radius: 3px;
    transform: rotate(45deg);
  }
}
