.stat {
  width: 100%;
  min-height: 275px;
  margin: 0;
  background-image: url('../images/bg_stat.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.stat__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: $panel-width;
  margin: 0 auto;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: row;
    align-items: flex-start;
  }
}

.stat__item {
  width: 220px;
  padding-top: 30px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @media (min-width: $desktop-width) {
    width: 205px;
    padding-top: 40px;
  }
}

.stat__value {
  margin-top: 20px;
  margin-bottom: 0;
  font-family: $title-font;
  font-size: 48px;
  line-height: 40px;
  color: $light-color;
}

.stat__description {
  font-size: 16px;
  color: $light-color;
  padding: 0;
  text-align: center;
}
