.tasks {
  width: 100%;
  margin-top: 0;
  min-height: 508px;
  background-image: url('../images/bg_content1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;

  @media (min-width: $tablet-width) {
    background-position: top center;
  }

  @media (min-width: $desktop-width) {
    min-height: 850px;
    background-position: top left;
    background-size: auto;
  }
}

.tasks__container {
  width: $panel-width;
  padding-left: 23px;
  padding-right: 23px;
  margin: 0 auto;
  padding-top: 45px;

  @media (min-width: $tablet-width) {
    width: 600px;
    margin: 0 auto 0 40px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
    padding-top: 115px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.tasks__title {
  margin-bottom: 0;
  font-family: $title-font;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: $light-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    margin-left: 80px;
  }

  @media (min-width: $desktop-width) {
    font-size: 48px;
    line-height: 60px;
    margin-left: 0;
  }
}

.tasks__intro,
.tasks__text,
.tasks__problem,
.tasks__name {
  font-family: $default-font;
  color: $light-color;
  text-align: left;
  margin: 0;
  padding-left: 0;
}

.tasks__intro {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 20px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.6px;
  }
}

.tasks__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: $title-font;
  font-size: 85px;
  color: rgba(255, 255, 255, 0.2);
  list-style-type: none; /* Убираем исходные маркеры */
  _list-style-type: decimal; /* Нумерация для браузера Internet Эксплорер */
  counter-reset: item; /* Обнуляем счетчик списка */

  @media (min-width: $desktop-width) {
    font-size: 150px;
    line-height: 150px;
  }
}

.tasks__item {
  display: flex;
  align-items: center;

  &::before {
    width: 70px;
    padding-top: 8px;
    content: counter(item);
    counter-increment: item; /* Задаем имя счетчика */

    @media (min-width: $desktop-width) {
      width: 83px;
    }
  }
}

.tasks__problem {
  padding-left: 7px;
  max-width: $panel-width;

  @media (min-width: $desktop-width) {
    padding-left: 17px;
    max-width: 755px;
  }
}

.tasks__text {
  font-size: 11px;
  margin-top: 8px;

  @media (min-width: $tablet-width) {
    font-size: 13px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 24px;
    margin-top: 15px;
  }
}

.tasks__name {
  font-size: 13px;
  font-weight: 700;
  padding-right: 5px;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}
