.team {
  width: 100%;
  min-height: 319px;
  margin: 0;
  background-color: #ffffff;

  @media (min-width: $desktop-width) {
    min-height: 500px;
    padding-top: 75px;
    padding-bottom: 70px;
  }
}

.team__container {
  width: $panel-width;
  padding: 35px 20px 30px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0;
  }
}

.team__title {
  margin: 0 auto 15px;
  font-family: $title-font;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: $darktext-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 45px;
  }

  @media (min-width: $desktop-width) {
    font-size: 48px;
    line-height: 60px;
  }
}

.swiper-container--3 {
  display: flex;
  justify-content: space-between;
}

.swiper-slide--member {
  max-width: 194px;
  margin-left: 43px;
  margin-right: 43px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover .team__social {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
  }

  @media (min-width: $tablet-width) {
    max-width: 364px;
    padding-top: 30px;
    padding-left: 51px;
    padding-right: 51px;
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 392px;
    padding-left: 65px;
    padding-right: 65px;
  }
}

.team__name {
  margin: 10px 0 0;
  font-size: 18px;
  font-weight: 700;
  color: $darktext-color;

  @media (min-width: $desktop-width) {
    margin-top: 15px;
    font-size: 26px;
  }
}

.team__post {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $darktext-color;

  @media (min-width: $desktop-width) {
    margin-top: 4px;
    font-size: 18px;
  }
}

.swiper-button-prev--3,
.swiper-button-next--3 {
  width: 20px;
  height: 35px;
  top: 40%;
  background-repeat: no-repeat;

  &:hover {
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    top: 48%;
  }

  @media (min-width: $desktop-width) {
    top: 47.5%
  }
}

.swiper-button-next--3 {
  right: 0;
  background-image: url('../images/right-arrow.svg');

}

.swiper-button-prev--3 {
  left: 0;
  background-image: url('../images/left-arrow.svg');
}

.team__photo {
  display: block;
  position: relative;
  border-radius: 50%;
}

.team__social {
  width: 194px;
  height: 194px;
  padding: 10px;
  border-radius: 50%;
  display: none;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 262px;
    height: 262px;
    padding: 20px;
    top: 30px;
    left: 51px;
  }

  @media (min-width: $desktop-width) {
    left: 65px;
  }
}

.social__link:hover {
  opacity: 0.6;
}

.social__link:active {
  opacity: 0.3;
}
