/* Настройка вьюпорта */
$panel-width: 320px;
$tablet-width: 768px;
$desktop-width: 1170px;

/* Настройка текстовых параметров */
$default-font: "ProximaNova", "Arial", sans-serif;
$title-font: "RuslanDisplay", "Arial", sans-serif;

/* Цвета сайта */
$light-color: #f3f1f4;
$darktext-color: #282828;
$dark-color: #181818;
